<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/restaurants']">FoodScore</a>
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/restaurants']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/restaurants', 'add']" routerLinkActive="active" >New restaurant</a>
      </li>
    </ul>
  </div>
</nav>
